:root{
  --orange: #ea2;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  text-align: center;
}
.header-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #2e2c2a;
  background-color: var(--orange);
}
nav{
  display: flex;
  font-weight: bold;
  font-size: 20px;
}
nav a{
  text-decoration: none;
  padding: 10px;
}
.header-bottom{
  display: flex;
  justify-content: center;
  background-image: url(../images/hero-image.jpg);
}
.header-bottom h2{
  margin-top: 350px;
  margin-bottom: 100px;
  padding: 5px;
  background-color: #fff;
}
a{
  color: inherit;
}
section{
  border: 2px dotted red;
}



footer{
  background-color: var(--orange)
}
