html, body{
  margin: 0;
  padding: 0;
}

header{
  text-align: center;
  background-color: #ea2;
  color: #333;
}
section{
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}
section div{
  /* display: inline; */
}
.flexbox{
  display: flex;
  justify-content: center;
}
.flexbox div{
  margin: 20px;
}
