*{
  margin: 0;
  /* padding: 0; */
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #ea2;
  color: #333;
  height: 200px;
  padding: 5px;
}
section{
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}
section div{
  /* display: inline; */
}
nav{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
nav a{
  color: #fff;
}
.flexbox{
  display: flex;
  justify-content: center;
}
.flexbox div{
  margin: 20px;
}
